{% extends 'frame.html' %}

<!--제목-->
{% block title %}
    레시피
{% endblock %}

<!--내용-->
{% block content %}

<h2>레시피</h2>
최대 8개까지 추가가능


<form method="post">
    <table style="margin-top: 20px; margin-bottom: 20px;" border="1px">
        <tr>
            <th>레시피명</th>
            <th>작성자</th>
            <th>작성시간(가져온시간)</th>
            <th>선택</th>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td style="width: 200px;">{{recipe['recipe_name']}} </td>
            <td style="width: 200px;">{{recipe['author']}}</td>
            <td style="width: 200px;">{{recipe['time']}}</td>
            <td style="width: 50px;"><input type="radio" name="url" value="{{recipe['url']}}" checked></td>
        </tr>
        {% endfor %}
    </table>
    

{% if recipes|length == 0  %}
<input type="submit" value="레시피 보기" formaction="/show_recipe/" disabled>
{% else %}
<input type="submit" value="레시피 보기" formaction="/show_recipe/">
{% endif %}
    
{% if recipes|length < 8  %}
    <input type="submit" value="새 레시피" id="new_recipe_btn" formaction="/new_recipe/">
{% else %}
    <input type="submit" value="새 레시피" id="new_recipe_btn" formaction="/new_recipe/" disabled>
{% endif %}
</form>
<br>
{{serial_result}}

{% endblock %}