{% extends 'frame.html' %}

<!--제목-->
{% block title %}
    레시피
{% endblock %}

<!--내용-->
{% block content %}

<h2>레시피</h2>
최대 5개까지 추가가능
<br>
<br>
<form method="post">
    <select id="recipe_name" name="recipe_name">
        {% for recipe in recipes %}
        <option>{{ recipe }}</option>
        {% endfor %}
    </select>
{% if recipes|length == 0  %}
<input type="submit" value="레시피 보기" formaction="/show_recipe/" disabled>
{% else %}
<input type="submit" value="레시피 보기" formaction="/show_recipe/">
{% endif %}

    
{% if recipes|length < 5  %}
    <input type="submit" value="새 레시피" id="new_recipe_btn" formaction="/new_recipe/">
{% else %}
    <input type="submit" value="새 레시피" id="new_recipe_btn" formaction="/new_recipe/" disabled>
{% endif %}
</form>


{{ html_message }}

{% endblock %}