{% extends 'frame.html' %}

<!--제목-->
{% block title %}
    레시피보기
{% endblock %}

<!--내용-->
{% block content %}


    <h2>{{ recipe['title'] }}</h2>
    <br>
    <h3>레시피명 : {{ recipe['recipe_name'] }}</h3>
    <h3>작성자 : {{ recipe['author'] }}</h3>
    <h3>작성시간 : {{ recipe['share_time'] }}</h3><br>
<table border="1px">
    <tr>
        <th>음료명</th>
        <th>음료양</th>
    </tr>
    
    {% for i in range(4) %}
        {% set drink = 'drink'+(i|string) %}
        {% set drink_amount = drink+'_amount' %}

        {% if recipe[drink] != None %}
        <tr>
            <td>{{recipe[drink]}}</td>
            <td>{{recipe[drink_amount]}}</td>
        </tr>
        {% else %}
        {% break %}
        {% endif %}
    {% endfor %}  
</table>

<pre style="font-size: 20px; margin-top: 30px; margin-bottom: 30px;">
{{ recipe['content'] }}
</pre>

{{ recipe['comments'] }}


{% endblock %}