{% extends 'frame.html' %}

<!--제목-->
{% block title %}
    레시피보기
{% endblock %}

<!--내용-->
{% block content %}

{% if recipes != 'empty' %}

{% for recipe in recipes %}
<div style="margin: 20px; border: 1px solid; width: 700px;">
    <h3><a href="/sharing_read/{{recipe['url']}}/">{{recipe['recipe_name']}}</a></h3>
    제목 : {{recipe['title']}}<br>
    작성자 : {{recipe['author']}}<br>
    최종수정 : {{recipe['share_time']}}
</div>
{% endfor %}
{% else %}
공유중인 레시피가 없습니다.
{% endif %}






{% endblock %}

