{% extends 'frame.html' %}

<!--제목-->
{% block title %}
    모든레시피
{% endblock %}

<!--내용-->
{% block content %}

{% if recipes != 'empty' %}

{% set page_count = (recipes_count-1)//5  %}            {# 페이지개수 #}




{% set next_page = currnet_page + 1 %}
{% set previous_page = currnet_page - 1 %}

    <form method="post" style="float: right; margin-right: 30px;">
        <input type="text" placeholder="레시피명" name="recipe_name">
        <input type="submit" value="검색" formaction="/sharing_search_process/">
    </form>

    <div style="margin-bottom: 20px;"><h3 style="margin-left: 20px;">{{recipe_name}}</h3></div>
    {% for recipe in recipes %}
    <div style="margin: 20px; border: 1px solid; width: 700px;">
        <h3><a href="/sharing_read/{{recipe['url']}}/">{{recipe['recipe_name']}}</a></h3>
        제목 : {{recipe['title']}}<br>
        작성자 : {{recipe['author']}}<br>
        최종수정 : {{recipe['share_time']}}
    </div>
    {% endfor %}



    {% if state == 'all' %}
    
    
    <p style="text-align: center;">
        {% if currnet_page!=1 %}
        <a href="/sharing_all/{{previous_page}}/">이전</a>
        {% endif %}
        {{currnet_page}}
        {% if currnet_page <= page_count %}
        <a href="/sharing_all/{{next_page}}/">다음</a>
        {% endif %}
    </p>
    

    {% elif state == 'search' %}
    <p style="text-align: center;">
        {% if currnet_page!=1 %}
        <a href="/sharing_search/{{recipe_name}}/{{previous_page}}/">이전</a>
        {% endif %}
        {{currnet_page}}
        {% if currnet_page <= page_count %}
        <a href="/sharing_search/{{recipe_name}}/{{next_page}}/">다음</a>
        {% endif %}
    </p>
    {% endif %}

{% else %}
<a href="/">홈으로</a><br><br>
공유중인 레시피가 없습니다.
{% endif %}






{% endblock %}

