{% extends 'frame.html' %}

<!--제목-->
{% block title %}
    레시피보기
{% endblock %}

<!--내용-->
{% block content %}

<form method="post">
    <input type="text" name="title" placeholder="글제목" value="{{ recipe['title'] }}" style="width: 600px; height: 50px;" required><br><br>
    <input type="hidden" name="recipe_name" value="{{ recipe['recipe_name'] }}">

    <h3>레시피명 : {{ recipe['recipe_name'] }}</h3>
<table border="1px">
    <tr>
        <th>음료명</th>
        <th>음료양</th>
    </tr>
    
    {% for i in range(4) %}
        {% set drink = 'drink'+(i|string) %}
        {% set drink_amount = drink+'_amount' %}

        {% if recipe[drink] != None %}
        <tr>
            <td>{{recipe[drink]}}</td>
            <td>{{recipe[drink_amount]}}</td>
        </tr>
        {% else %}
        {% break %}
        {% endif %}
    {% endfor %}  
</table> <br>

<textarea name="content" placeholder="글설명" style="width: 600px; height: 200px; resize: none;" required>{{ recipe['content'] }}</textarea><br>

<input type="submit" value="저장" style="width: 100px; height: 50px;" formaction="/sharing_process/{{ recipe['url'] }}/">
<input type="submit" value="이전으로" style="width: 100px; height: 50px;" formaction="/show_recipe/">
</form>

{% endblock %}