{% extends 'frame.html' %}

<!--제목-->
{% block title %}
    레시피보기
{% endblock %}

<!--내용-->
{% block content %}



{% if recipe_dict['share'] == '0' %}
    <h2>{{ recipe_dict['recipe_name'] }} (작성자 : {{ recipe_dict['author'] }})</h2>
    상태 : 공유하고있지않음<br>
    작성일 : {{ recipe_dict['time'] }}<br>
    최종수정일 : {{ recipe_dict['share_time'] }}<br>
{% elif recipe_dict['share'] == '1' %}
    <h2><a href="/sharing_read/{{recipe_dict['url']}}/">{{ recipe_dict['recipe_name'] }} (작성자 : {{ recipe_dict['author'] }})</a></h2>
    상태 : 공유중<br>
    작성일 : {{ recipe_dict['time'] }}<br>
    최종수정일 : {{ recipe_dict['share_time'] }}<br>

{% elif recipe_dict['share'] == '2' %}
    <h2><a href="/sharing_read/{{recipe_dict['copy_url']}}/">{{ recipe_dict['recipe_name'] }} (작성자 : {{ recipe_dict['author'] }})</a></h2>
    상태 : 타인의레시피<br>
    작성일 : {{ recipe_dict['time'] }}<br>
    최종수정일 : {{ recipe_dict['share_time'] }}<br>
{% endif %}



<form method="post" name="recipe_form" action="/make_recipe/">
<input type="hidden" name="recipe_name" value="{{ recipe_dict['recipe_name'] }}">
<input type="hidden" name="url" value="{{ recipe_dict['url'] }}">

<table border="1px" style="margin-top: 20px; margin-bottom: 20px;">
    <tr>
        <th>음료명</th>
        <th>음료양</th>
    </tr>
    
    {% for i in sql_drink_count %}
        {% set drink = 'drink'+(i|string) %}
        {% set drink_amount = drink+'_amount' %}

        {% if recipe_dict[drink] != None %}
        <tr>
            <td>{{recipe_dict[drink]}}</td>
            <td>{{recipe_dict[drink_amount]}}</td>
            <input type="hidden" name="drink{{i}}" value="{{recipe_dict[drink]}}">
            <input type="hidden" name="drink{{i}}_amount" value="{{recipe_dict[drink_amount]}}">
        </tr>
        {% endif %}
    {% endfor %}  


        
</table>   


<input type="submit" value="이전으로" formaction="/recipe/">
<!-- <input type="submit" id="make" formaction="/make_recipe/" value="만들기" > -->
<input type="button" id="make" value="만들기"  onclick="ban_while_making()">
{% if recipe_dict['share'] == '0' %}
<input type="submit" formaction="/sharing_page/" value="공유하기">
{% else %}
<input type="submit" formaction="/sharing_page/" value="공유하기" disabled>
{% endif %}

<input type="submit" formaction="/update_recipe/" value="수정하기">
<input type="submit" formaction="/delete_recipe/" value="삭제하기">

</form>



{% endblock %}