{% extends 'frame.html' %}

<!--제목-->
{% block title %}
    레시피수정
{% endblock %}

<!--내용-->
{% block content %}


{% set leng = (((recipe_dict|length)-3)/2)|int %}  {# -3: id,author,recipe_name #}           {# /2: drink,drink_amount #}

<h2>{{ recipe_dict['recipe_name'] }} (작성자 : {{ recipe_dict['author'] }})</h2>

<p style="margin-top: 20px; margin-bottom: 20px;">
    각 음료는 600이하, 모든 음료양의 합은 700이하<br>

</p>


<form method="post">

<table border="1px" style="margin-top: 20px; margin-bottom: 20px;">
    <tr>
        <th>음료명</th>
        <th>음료양</th>
    </tr>

    
    {% set leng = 0 %}
    {% for i in sql_drink_count %}

        {% set drink = 'drink'+(i|string) %}
        {% set drink_amount = drink+'_amount' %}

        {% if recipe_dict[drink] != '' %}
        <tr>
            <td>{{recipe_dict[drink]}}</td>
            <input type="hidden" name="drink{{i}}" value="{{recipe_dict[drink]}}">
            <td><input type="number" id="drink{{i}}_amount" name="drink{{i}}_amount" value="{{recipe_dict[drink_amount]}}" placeholder="{{i}}번음료" oninput="num_only(this); NO_over_600(this)"></td>
        </tr>
        {% else %}
        <input type="hidden" id="row_count" value="{{i}}" disabled>
        {% break %}
        {% endif %}
    {% endfor %}  

        
</table>  

<input type="hidden" name="url" value="{{recipe_dict['url']}}">
<input type="submit" value="이전으로" formaction="/show_recipe/">
<input type="button" id="update_dect_btn" onclick="update_dect()" value="유효성검사">
<input type="button" id="modify_btn" value="수정하기" onclick="update_modify()" disabled>
<input type="submit" id="update_btn" formaction="/update_recipe_process/" value="저장하기" disabled>


</form>



{% endblock %}