* {margin: 0; padding: 0}       /*css reset*/

html{
    background-color: #fcf7ee;
}

a{
    color: #5daaee;
}

li{
    /*회원가입시 사용하는 CSS*/
    list-style:none;
    float: left;
    margin: 10px;
}


header{
    border-bottom: 1px solid gray;
    background-color: #7896BC;
    padding: 20px;
}
header a{
    padding-left: 20px;
    text-decoration: none;
    color: #eefcf7;
}

nav{
    border-right: 1px solid gray;
    width: 8vw;
    height: 100vh;
    float: left;
    background-color: darkcyan;
}
nav ul{    
    padding-top: 15px;
}
nav li{
    float: none;
    text-align: center;   
}

nav a{
    text-decoration: none;
    color: bisque;
    font-size: 20px;
}

article{
    float: left;
    padding: 20px;
}

#team_introducing_picture{
    float: left;
}


#login {
    color: #47494f;
    float: right;
}

#update input[type=password], #update input[type=number]{
    width: 150px;
}

td{
    width: 100px;
    text-align: center;
}

input[type="number"]{
    width: 162px;
}