{% extends 'frame.html' %}

<!--제목-->
{% block title %}
    로그인
{% endblock %}

<!--내용-->
{% block content %}

<h2>로그인</h2>

<form method="post">
    <table style="margin-top: 20px; margin-bottom: 20px;">
        <tr>
            <th width="50px">ID</th>
            <td><input id="user_id" maxlength="10" name="user_id" required="" type="text" value="" placeholder="아이디"></td>
        </tr>
        <tr>
            <th>PW</th>
            <td><input id="user_pw" maxlength="10" name="user_pw" required="" type="password" value="" placeholder="비밀번호"></td>
        </tr>
    </table>
    <input type="submit" value="로그인" formaction="/login_process/">
</form>



{% endblock %}