<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <meta charset="utf-8">
        {# local
            
        
        #}
        

        <link href="{{ url_for('static', filename='./css/style.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='./js/my_js.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='./js/jquery-3.6.0.min.js') }}"></script>
        
        
        
        {# AWS
            <link rel="stylesheet" type="text/css" href="http://3.39.94.57:8000/css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>        
        <script src="http://3.39.94.57:8000/js"></script>
            
        #}
        
    
        
    </head>
    <body>
        <header>
            <div id="login">
                {% if login_state == True %}
                    
                    {% if user_id == 'admin' %}                        
                        <form method="post">
                            로컬관리자
                            <input type="submit" style="width: 90px;" value="로그아웃" formaction="/logout/">
                        </form>
                    {% elif user_id == 'dbadmin' %}                        
                    <form method="post">
                        DB관리자
                        <input type="submit" style="width: 90px;" value="로그아웃" formaction="/logout/">
                        <input type="submit" style="width: 90px;" value="관리자페이지" formaction="/admin/">
                    </form>
                    {% else %}
                        <form method="post">
                            {{ user_id }}님 반가워요
                            <input type="submit" style="width: 90px;" value="로그아웃" formaction="/logout/">                            
                        </form>
                    {% endif %}
                {% else %}
                    <a href="/login/">로그인</a>
                    <a href="/register/">회원가입</a>
                {% endif %}
            </div>
            <h1><a href="/">ShotSharing(전자종합설계 목234 분반 3조)</a></h1>
                       
        </header>
        <nav>
            <ol>
                {% if (user_id == 'admin')or(user_id == 'dbadmin') %} 
                <li><a href="/managing/">관리</a></li>                     
                {% else %}
                <li><a href="/managing/">관리</a></li>
                <li><a href="/recipe/">레시피</a></li>
                <li><a href="/sharing/">공유</a></li>       
                {% endif %}
            </ol>
        </nav>
        <article>
            {# flash 메시지 출력 #}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <script>
                        alert(`{{messages[-1]}}`)
                    </script>
                {% endif %}
            {% endwith %}


            {# range 함수용 #}
            {% set sql_drink_count = range(2) %}

            {% block content %}
            {% endblock %}
        </article>
    </body>
</html>