{% extends 'frame.html' %}

<!--제목-->
{% block title %}
    {{html_title}}
{% endblock %}

<!--내용-->
{% block content %}

<p>
    <form id="selected_form" >       <!--나중에 db에서 값 가져오기-->
        <h3>음료선택</h3> 
        <select id="selected_drink">
            <option id="drink0">스위트아메리카노</option>
            <option id="drink1">카페라떼</option>
        </select>
    </form>
</p>
<p>
    <form id="making_form" onsubmit="alert('음료만들기!');">
        <fieldset>
            <legend>스위트아메리카노</legend>
            <table>
                <tr>
                    <td>물</td>
                    <td><input type="text" value="150"></td>
                </tr>
                <tr>
                    <td>에스프레소</td>
                    <td><input type="text" value="25"></td>
                </tr>
                <tr>
                    <td>슈가시럽</td>
                    <td><input type="text" value="25"></td>
                </tr>            
            </table>
        </fieldset>
        <input type="submit" value="만들기">           
    </form>
</p>

{% endblock %}