{% extends 'frame.html' %}

{% block content %}
<div>
    <fieldset>
        <form method="post">
            <input type="text" name="author" placeholder="작성자(특수문자금지)" required><br>
            <input type="password" name="pw" placeholder="비밀번호" required><br><br>
            <input type="text" name="title" placeholder="제목" required style="width: 348px;"><br>
            <textarea name="content" placeholder="내용" style="width: 350px; height: 150px; resize: none;"></textarea><br>
            <input type="submit" formaction="/save" value="저장">
        </form>
    </fieldset>
</div>
{% endblock %}